# Dataset and outputs
nights/*
imagenet-100/*
imagenet-100-images/*
reports/*
models/*
training/embeddings/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.ipynb_checkpoints
.venv/
venv/

# Model files
*.pt
*.pth
*.onnx
*.tflite

# Docker
.dockerignore
docker-compose.override.yml
Dockerfile

# IDE and environment
.vscode/
.env
.DS_Store